body
{
  background-color: #fcfcfc;
}
.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border-radius: 3px;
  font-family: 'Lobster', cursive;

}

h1
{
 color: #fcfcfc;
 font-size: 1000%;
}

#findBFF {
  z-index: 1;
  position: relative;

}

.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;  
    
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;

  }